:root{
  --divbgcolor: #d5d3cf;
  --pagebgcolor: #f2f7fb;
  --lettercolor: #0b64ad;
  --div-letter-color: #fff;
  --border-radius: 45px;
  --gen-font-family: roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--gen-font-family);
  background-color: var(--pagebgcolor);
  color: var(--lettercolor);
}

header{
  height: 50rem;
  width: 100%;
  background-image: url("../public/img/header-bg.jpg");
  background-color: var(--divbgcolor);
  background-size: cover;
  color: var(--lettercolor);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.nav-bar{
  position: sticky;
  top: 10px;
  background-color: var(--divbgcolor);
  color: var(--lettercolor);
  width: 100%;
  padding: 0.8rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  img{
    width: 50px;
    height: 50px;
  }

  nav{
    ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 10px;
    }

    &a{
      color: var(--lettercolor);
      text-decoration: none;
      padding: 10px;
    }

    &a:hover{
      background-color: var(--pagebgcolor);
      color: var(--tittlecolor);
    }

    
  }
}

.content-container { /* main */
  margin: auto;
  max-width: 90rem;
}

.benefits-content{ /* seccion */
  width: 100%;
  margin-top: -100px;
  background-color: #bdaf9588;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  & .short-benefit {
    text-align: center;
  
    & .sbenefit-photos {
      border-radius: 8px;
      width: 100%;
    }
  
    & .short-benefit-text {
      margin: 0;
      padding-top: 10px;
      font-weight: 500;
    }
  }
}

.about-planpath{
  width: 100%;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;

  & .h2title {
    font-size: 3rem;
    font-family: merienda, sans-serif;
  }

  & .transparent-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--div-letter-color);
  }
}

.planpath-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;

  & .pp-content-photos {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 30%;
  }

  & .text-content{
    width: 68%;
    background-color: var(--divbgcolor);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 0 10px #0004;
  
  }
}

.invert {
  flex-direction: row-reverse;

  & .inv-text-content {
    width: 68%;
    background-color: var(--divbgcolor);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 0 10px #0004;
  }

  & .inv-pp-content-photos {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 30%;
  }
}

.about-us{
  width: 100%;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.about-transparent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .about-text {
    text-align: center;
    font-size: 3rem;
    font-family: merienda, sans-serif;
    padding: 10px;
  }

  & .admin-info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
  
    & .names {
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 10px;
    }
  
    & .admin-photos {
      border-radius: 50%;
      box-shadow: 0 0 10px #0004;
      width: 100%;
    }
  }

  & .text-container {
    width: 50%;
    font-size: 1.3rem;
    text-align: center;
  }
}

footer {
  background-color: var(--pagebgcolor);
  color: var(--tittlecolor);
  padding: 20px 0;
  font-family: Roboto, sans-serif;
}

.footer-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 1px solid #444;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: "Karina media", sans-serif;
}

.footer-nav {
  display: flex;
  gap: 20px;
  text-align: center;

  & a {
    color: var(--tittlecolor);
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;

    & a:hover {
      color: var(--lettercolor);
    }
  
  }

  .footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;

    & a svg {
      width: 25px;
      height: 25px;
      fill: var(--tittlecolor);
      transition: transform 0.3s ease, fill 0.3s ease;

      &   .linkedin:hover svg {
        transform: scale(1.2);
        fill: #0077b5;
      }

      & .twitter:hover svg{
        transform: scale(1.2);
        fill: black;
      }

      &.youtube:hover svg{
        transform: scale(1.2);
        fill: #f00;
      }

      .footer-bottom {
        text-align: center;
        font-size: 0.8rem;
        margin-top: 10px;
        color: grey;
      }
    }}}