:root{
  --divbgcolor: #bdaf95;
  --pagebgcolor: #f2f7fb;
  --gen-letter-color: #000;
  --gen-title-color: #0b64ad;
  --white: #fff;
  --border-radius: 45px;
  --gen-font-family: roboto, sans-serif;
  --bg-nav-bar: #f2f7fb;
  --title-font-size: 3rem;
  --text-font-size: 1.2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--gen-font-family);
  background-color: var(--pagebgcolor);
  color: var(--gen-letter-colorcolor);
  font-weight: 400;
  font-size: var(--text-font-size);
}

header{
  height: max-content;
  width: 100%;
  background-color: var(--white);
  color: var(--gen-title-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-content{
    padding: 15rem;
    margin-top: -7rem;

    img {
      height: 20rem;
    }

    /* .info{  } */
  }
}

.main-button{
  font-size: large;
  background-color: var(--gen-title-color);
  color: var(--white);
  padding: 0.5rem 3rem;
  font-weight: bold;
  border: 0.15rem solid;
  border-radius: 0.5rem;
}

.main-button:hover{
  color: var(--gen-title-color);
  background-color: var(--white);
  cursor: pointer;
}

.nav-bar{
  position: sticky;
  background-color: var(--bg-nav-bar);
  color: var(--gen-title-color);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  top: 0;
  opacity: 95%;
  z-index: 1;
  border-bottom: 0.2rem solid;

  nav{
    padding: 0.8rem;

    ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 1.4rem;
    }

    .nav-button{
      color: var(--gen-title-color);
      padding: 1rem;
      border: 0.15rem solid var(--bg-nav-bar);
      text-decoration: none;
      border-radius: 0.5rem;

      &.nav-main-button{
        background-color: var(--gen-title-color);
        color: var(--white);
        border: 0.15rem solid var(--gen-title-color);
      }
    }

    .nav-button:hover{
      background-color: var(--gen-title-color);
      color: var(--white);
      border: 0.15rem solid var(--gen-title-color);
      border-radius: 0.5rem ;

      &.nav-main-button{
        background-color: var(--div-letter-color);
        color: var(--gen-title-color);
        border: 0.15rem solid var(--gen-title-color);
        border-radius: 0.5rem ;
      }
    }
  }
}

.content-container { /* main */
  margin: auto;
  max-width: 80rem;
}

.benefits-content{ /* seccion */
  width: 100%;
  margin-top: -100px;
  background-color: var(--divbgcolor);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;

  & .short-benefit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    & .sbenefit-photos {
      border-radius: 8px;
      min-width: 250px;
    }
  
    & .short-benefit-text {
      max-width: 90%;
      margin: 0;
      padding-top: 10px;
    }
  }
}

.about-planpath{
  width: 100%;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;

  & .about-title {
    color: var(--gen-title-color);
    font-size: var(--title-font-size);
    font-family: merienda, sans-serif;
  }

  & .transparent-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--gen-letter-color);
    gap: 1rem;
  }
}

.planpath-content{
  display: flex;
  flex-direction: row;
  gap: 1rem;

  & .pp-content-photos {
    border-radius: 5px 30px 30px 5px;
    max-width: 30%;
    min-width: 20%;
    height: 15rem;
  }

  & .text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    box-sizing: border-box;
    text-align: start;
    background-color: var(--divbgcolor);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px #0004;
  }
}

.invert {
  height: 15rem;
  flex-direction: row-reverse;

  & .inv-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: start;
    background-color: var(--divbgcolor);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px #0004;
  }

  & .inv-pp-content-photos {
    border-radius: 30px 5px 5px 30px;
    max-width: 30%;
    min-width: 20%;
  }
}

.about-us{
  width: 100%;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.about-transparent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .about-text {
    text-align: center;
    color: var(--gen-title-color);
    font-size: var(--title-font-size);
    font-family: merienda, sans-serif;
    padding: 10px;
  }

  & .admin-info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
  
    & .names {
      text-align: center;
      margin-bottom: 10px;
    }
  
    & .admin-photos {
      border-radius: 50%;
      box-shadow: 0 0 10px #0004;
      width: 100%;
    }
  }

  & .text-container {
    color: black;
    width: 50%;
    text-align: center;
  }
}

.cta-container {
  width: 100%;
  border-radius: var(--border-radius);
  margin-bottom: 50px;
  margin-top: 50px;
}

.cta-container-transparent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  & .cta-title {
    width: 50%;
    font-weight: 500;
    color: var(--gen-title-color);
    font-size: var(--title-font-size);
  }

  & .cta-part{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    & .cta-subtitle{
      color: black;
      width: 80%;
    }
  
    & .cta-button{
      background-color: var(--gen-title-color);
      color: #fff;
    }
  }
}

footer {
  background-color: var(--bg-nav-bar);
  color: var(--gen-title-color);
  padding: 20px 0;
  font-family: Roboto, sans-serif;
}

.footer-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 1px solid #444;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: "Karina media", sans-serif;
}

.footer-nav {
  display: flex;
  gap: 20px;
  text-align: center;

  & a {
    color: var(--gen-title-color);
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
  }

  & a:hover {
    color: black;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 15px;

  & a svg {
    width: 25px;
    height: 25px;
    fill: var(--tittlecolor);
    transition: transform 0.3s ease, fill 0.3s ease;
  }

  & .linkedin:hover {
    transform: scale(1.2);
    fill: #0077b5;
  }

  & .twitter:hover {
    transform: scale(1.2);
    fill: black;
  }

  & .youtube:hover {
    transform: scale(1.2);
    fill: #f00;
  }
}

.footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 10px;
  color: grey;
}